@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import 'tailwindcss';

@layer base {
  html {
    font-size: 62.5%;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }

  body {
    font-family:
      'Pretendard',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      sans-serif;
  }
}

@layer utilities {
  .head1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .head2 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .head3 {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .head4 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .head5 {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .head6 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 150%;
    letter-spacing: 1%;
  }

  .sub1-sb {
    font-weight: 600;
    font-size: 3rem;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .sub1-r {
    font-weight: 400;
    font-size: 3rem;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .sub2-sb {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .sub2-m {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .sub3-sb {
    font-weight: 600;
    font-size: 2rem;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .sub3-m {
    font-weight: 500;
    font-size: 2rem;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .sub4-b {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .sub4-sb {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .sub5-b {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .sub5-sb {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .sub6-sb {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .sub7-sb {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .body1-m {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 150%;
    letter-spacing: -1%;
  }
  .body1-r {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
    letter-spacing: -1%;
  }
  .body2-m {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: -1%;
  }
  .body2-r {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: -1%;
  }
  .body3-r {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: -1%;
  }
  .body4-m {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 150%;
    letter-spacing: -1%;
  }

  .caption1-sb {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .caption1-m {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .caption2-sb {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .caption2-m {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
