@import '@pinback/design-system/styles';
textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
  border: none;
}
